<% layout('layouts/boilerplate') -%>
<form action="/tracks/<%= track._id %>?_method=PUT" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="track[name]" value="<%= track.name %>">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="track[location]" value="<%= track.location %>">
    </div>
    <button>Edit Track</button>
</form>
<a href="/tracks/<%= track._id %>">Back To Track</a>