<% layout('layouts/boilerplate') -%>
<h1>All Tracks</h1>
<div>
    <a href="/tracks/new">Add Track</a>
</div>
<ul>
    <% for (let track of tracks) { %>
    <li><a href="/tracks/<%= track._id %>"><%= track.name %></a></li>
    <% } %>
</ul>