<% layout('layouts/boilerplate') -%>
<form action="/tracks" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="track[name]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="track[location]">
    </div>
    <button>Add Track</button>
</form>
<a href="/tracks">All Tracks</a>
</body>

</html>